@font-face {
  font-family: "BMJUA";
  src: url("../assets/font/BMJUA_TTF.TTF") format("truetype");
}

@font-face {
  font-family: "NOTOSANS";
  src: url("../assets/font/NotoSansKR-Light.ttf") format("truetype");
}

@font-face {
  font-family: "NOTOEXTRA";
  src: url("../assets/font/NotoSansKR-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "JALNAN";
  src: url("../assets/font/JALNAN.TTF") format("truetype");
}

@font-face {
  font-family: "AppleNeo";
  src: url("../assets/font/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "NOTO-SemiBold";
  src: url("../assets/font/NotoSansKR-SemiBold.ttf");
}

body {
  font-family: "BMJUA";
}

/* body {
  font-family: "AppleNeo";
} */

/* body {
  font-family: "NOTOEXTRA";
} */

.container-fluid {
  font-family: "NOTOEXTRA";
}

.footer {
  font-family: "NOTOSANS";
}

.QnA-Box {
  font-family: "BMJUA";
}

.chat-card {
  /* 세은이에게 이거 카드 폰트 바꿔도 되는지 물어볼 것. 10-19 */
  /* font-family: "BMJUA"; */
  font-family: "NOTO-SemiBold";
}

.navbar-brand {
  font-family: "JALNAN";
}
