/* 사용 */
.chat {
    margin-top: auto;
    margin-bottom: auto;
}

/* 사용 (바꿔야 함)
.card {
    height: 700px;
    border-radius: 15px !important;
} */

.contacts_body {
    padding: 0.75rem 0 !important;
    height: 600px;
    overflow-y: auto;
    white-space: nowrap;
}

/* 사용 */
.msg_card_body {
    height: 600px;
    overflow-y: auto;
}

.container {
    align-content: center;
}

.type_msg {
    background-color: white !important;
    border-radius: 15px 0 0 15px !important;
    border-color: #dee2e6 !important;
    color: black !important;
    height: 38px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    border-color: #dee2e6 !important;
    background-color: white !important;
    height: 38px;
    color: black !important;
    cursor: pointer;
}

.send_btn:hover {
    background-color: #dee2e6 !important;
}

.user_img {
    height: fit-content;
    width: 50px;
    border: 1.5px solid #f5f6fa;

}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;

}

.img_cont {
    position: relative;
    height: fit-content;
    width: 50px;
}

/* 챗봇로고 */
.img_cont_msg {
    height: fit-content;
    width: 30px;
}

/* 서버 메세지 컨테이너 */
.msg_cotainer {
    margin-top: auto;
    /* margin-bottom: auto; */
    margin-left: 10px;
    width: fit-content;
    border-radius: 22px;
    background-color: #e9f0f2;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 80%;
    text-align: left;
    position: relative;
    font-size: 15px;
}

/* 유저 메세지 컨테이너 */
.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    width: fit-content;
    border-radius: 25px;
    background-color: #f0f8e5;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    max-width: 60%;
    position: relative;
}

/* 서버 메세지 timestamp */
.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: black;
    font-size: 10px;
}

/* 유저 메세지 timestamp */
.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: black;
    font-size: 10px;
}

.map_body {
    /* padding: 0.90rem 0 !important; */
    height: 701px;
    overflow-y: auto;
    white-space: nowrap;
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}